<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trade4U Welcome Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
</head>

<header>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Trade4U</a>
        </div>

        <div class="container-fluid">
            <a href="/">
                <button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px;
                margin-bottom: 5px;height: 44px; margin-right: 15px ">
                    <span class="glyphicon glyphicon-home" arial-hiddlen="true"></span> Home
                </button>
            </a>

            <ul class="nav navbar-nav navbar-right">
                <a href="#"> <span class="glyphicon glyphicon-envelope"></span> Contact Us&nbsp;&nbsp;</a>
                <!-- Button trigger modal -->
                <a href="/logout"> <span class="glyphicon glyphicon-envelope"></span> LogOut&nbsp;</a>
            </ul>
        </div>
    </div>
</header>


<body>
<div class="border-row" style="width:100%; margin-bottom: 15px;"></div>
<div class="container-fluid" style="min-height:100%">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span arial-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</div>
</body>

</html>
