{% extends "header_logout.html"%}

{% block body %}

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tradePage" aria-controls="tradePage" role="tab"
                                                  data-toggle="tab">Trade</a></li>
        <li role="presentation"><a href="#tradeHistory" aria-controls="tradeHistory" role="tab" data-toggle="tab">TradeHistory</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tradePage">
            <div>
                <form id="tradeForm" class="form-horizontal" action="/sell_action" method="POST" style="margin-top: 15px; margin-left: 20px; margin-right: 500px ">
                    <div class="form-group">
                        <label for="quantity"><span class="glyphicon glyphicon-transfer"></span>
                            Quantity</label>
                        <input type="text" class="form-control" name="quantity" id="quantity"
                               placeholder="Enter quantity">
                    </div>
                    <div class="form-group">
                        <label for="price"><span class="glyphicon glyphicon-usd"></span>
                            Price</label>
                        <input type="text" class="form-control" name="price" id="price"
                               placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sell</button></a>
                        <button type="button" class="btn btn-primary disabled">Buy</button>
                    </div>
                </form>
            </div>

            <script>
$(document).ready(function() {
    $('#tradeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            quantity: {
                validators: {
                    integer: {
                        message: 'The quantity must be an integer'
                    }
                }
            },
            price: {
                validators: {
                    numeric: {
                        message: 'The price must be an number'
                    }
                }
            }
        }
    });
});



            </script>
        </div>
        <div role="tabpanel" class="tab-pane" id="tradeHistory">TradeHistory</div>
    </div>


</div>
{% endblock %}
