{% extends "header_logout.html"%}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
{% block body %}


<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tradePage" aria-controls="tradePage" role="tab"
                                                  data-toggle="tab">Trade</a></li>
        <li role="presentation"><a href="#tradeHistory" aria-controls="tradeHistory" role="tab" data-toggle="tab">TradeHistory</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tradePage">
            <div>
                <form id="tradeForm" class="trade"
                      style="margin-top: 15px; margin-left: 20px; margin-right: 500px ">
                    <div class="form-group">
                        <label for="quantity"><span class="glyphicon glyphicon-transfer"></span>
                            Quantity</label>
                        <input type="text" class="form-control" name="quantity" id="quantity"
                               placeholder="Enter quantity">
                    </div>

                    <div class="form-group">
                        <label for="price"><span class="glyphicon glyphicon-usd"></span>
                            Price</label>
                        <input type="text" class="form-control" name="price" id="price"
                               placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <button type="button" id="submitBtn" class="btn btn-primary">Fast</button>
                        <button type="button" id="submitBtn2" class="btn btn-primary">TWAP</button>
                    </div>
                </form>
            </div>

            <div style="margin-top: 15px; margin-left: 20px">
                <h3>Bid Price</h3>
                <p id=bid_price>
                <p>
                    <a href=# id=update_trigger>
                        <button class='btn btn-primary '>Update</button>
                    </a>
            </div>


            <script type=text/javascript>
			$(function() {
			  $('#update_trigger').bind('click', function() {
				$.getJSON('/fetch_bid_price', {

				}, function(data) {
				  $("#bid_price").text(data.result+"$/share");
				});
				return false;
			  });
			});



            </script>

            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

            <script type="text/javascript">
                var socket = io.connect('http://'+document.domain+':'+location.port);
                    socket.on('connect',function(){
                        socket.send('Connected to the server');
                    });

                    socket.on('message',function(msg){
                        $("#realtime").append('<li>'+msg+'</li>');
                    });



            </script>

            <script type="text/javascript">
            $('#submitBtn').button().click(function(event) {
                     var formData = {quantity: $('#quantity').val(), price: $('#price').val()};
    	           socket.emit('form',formData);
    	         });

            $('#submitBtn2').button().click(function(event) {
                     var formData2 = {quantity: $('#quantity').val(), price: $('#price').val()};
    	           socket.emit('form2',formData2);
    	         });

            </script>


            <script>
$(document).ready(function() {
    var TIME_PATTERN = /^(09|1[0-7]{1}):[0-5]{1}[0-9]{1}$/;

    $('#tradeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            quantity: {
                validators: {
                    integer: {
                        message: 'The quantity must be an integer'
                    }
                }
            },
            price: {
                validators: {
                    numeric: {
                        message: 'The price must be an number'
                    }
                }
            }
        }
    });
});





            </script>

            <div style="margin-top: 15px; margin-left: 20px">
                <h3>Real Time Transaction Status</h3>
                <p id="realtime"></p>
            </div>

        </div>


        <div role="tabpanel" class="tab-pane" id="tradeHistory">
            <table id="table" class="table table-hover">
                <thead>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>TimeStamp</b></td>
                    <td><b>Qty</b></td>
                    <td><b>Avg_Price</b></td>
                    <td><b>Notional</b></td>
                    <td><b>Status</b></td>
                    <td><b>Description</b></td>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <div id="trade_history"></div>
                </tr>
                <tbody>

                <script>
                 $(document).ready(function() {
                   setInterval(function() {
				   $.get('/fetch_trade_history', {
				}, function(data) {
				   $('#table').find('tbody').empty();
				   for(var i=0; i<data.length;i++) {
				            tr = $('<tr/>');
                            tr.append("<td>" + data[i][0] + "</td>");
                            tr.append("<td>" + data[i][1] + "</td>");
                            tr.append("<td>" + data[i][2] + "</td>");
                            tr.append("<td>" + data[i][3] + "</td>");
                            tr.append("<td>" + data[i][4] + "</td>");
                            tr.append("<td>" + data[i][5] + "</td>");
                            tr.append("<td>" + data[i][6] + "</td>");
                            tr.append("</tr>")
                            $('#table').append(tr);
                            }
				});
				return false;
				},10000);
		     });




                </script>
            </table>
        </div>


    </div>


</div>
{% endblock %}

